<template>
  <v-container fluid class="fill-height">
    <v-row align="center" justify="center">
      <v-col cols="12" sm="8" md="4">
        <v-card class="elevation-12">
          <v-toolbar color="primary" dark flat>
            <v-toolbar-title>Login</v-toolbar-title>
          </v-toolbar>
          <v-form
            @submit.prevent="onSubmit"
            ref="form"
            lazy-validation
            v-model="valid"
          >
            <v-card-text>
              <p class="error--text text-center">{{ error }}</p>
              <v-text-field
                label="Login"
                name="email"
                prepend-icon="mdi-account"
                type="text"
                v-model="email"
                required
                :rules="requiredRule"
              />
              <v-text-field
                id="password"
                label="Password"
                name="password"
                prepend-icon="mdi-lock"
                type="password"
                v-model="password"
                required
                :rules="requiredRule"
              />
            </v-card-text>
              <v-row class="d-flex justify-center ml-2 mr-2">
                <v-card-actions>
                <v-btn color="primary" type="submit" :loading="loading" large>Entrar <v-icon right>mdi-login</v-icon> </v-btn>
                </v-card-actions>
              </v-row>
              <v-row class="d-flex justify-center ml-2 mr-2">
                <v-card-actions>
                <a href="/register"> Cadastre-se </a>
                </v-card-actions>
              </v-row>
          </v-form>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapState } from "vuex";

export default {
  props: ["to", "invalidToken"],
  data: () => ({
    valid: true,
    loading: false,
    email: "",
    password: "",
    error: "",
    requiredRule: [(v) => !!v || "Campo obrigatório"],
  }),
  created() {
    if (this.invalidToken) {
      this.error = "Sua sessão expirou. Faça login novamente";
    }
  },
  methods: {
    onSubmit() {
      this.loading = true;
      if (this.$refs.form.validate()) {
        this.$store
          .dispatch("auth/login", {
            email: this.email,
            password: this.password,
          })
          .then(() => {
            if (this.$store.getters["auth/isAuthenticated"]) {
              this.$router.push('/');
            } else {
              this.error = "Usuário e/ou senha inválidos";
            }
          });
      }

      this.loading = false;
    },
  },
  computed: {
    ...mapState({
      token: (state) => state.auth.token,
    }),
  },
};
</script>

<style scoped lang="css">
</style>