<template>
  <div>
    <v-card-widget enableActions :title="'Criar uma tarefa'">
      <div slot="widget-header-action"></div>
      <div slot="widget-content">

        <v-card>
          <v-form ref="form" lazy-validation v-model="valid">
            <v-row class="d-flex justify-center ml-2 mr-2">
              <v-col cols="12" md="6">
                <v-text-field
                  name="name"
                  type="text"
                  label="Nome"
                  v-model="task.name"
                  required
                  :rules="requiredRule"
                ></v-text-field>
              </v-col>
              <v-col cols="12" md="6">
                <v-menu
                  v-model="menu_deadline"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="computedDateFormatted"
                      label="Data de prazo"
                      hint="dd/mm/aaaa"
                      persistent-hint
                      prepend-icon="mdi-calendar"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="task.deadline"
                    no-title
                    :min="nowDate"
                    @input="menu_deadline = false"
                    required
                    :rules="requiredRule"
                  ></v-date-picker>
                </v-menu>
              </v-col>
            </v-row>

            <v-row class="d-flex justify-center ml-2 mr-2">
              <v-col cols="12" md="4">
                <v-select
                  :items="server.servers"
                  item-text="user.name"
                  item-value="id"
                  label="Responsável pela tarefa"
                  v-model="task.responsible"
                  required
                  :rules="requiredRule"
                  return-object
                ></v-select>
              </v-col>
              <v-col cols="12" md="4">
                <v-select
                  name="priority"
                  :items="priority"
                  value="priority"
                  label="Prioridade da tarefa"
                  v-model="task.taskPriority"
                  required
                  :rules="requiredRule"
                ></v-select>
              </v-col>
              <v-col cols="12" md="4" class="d-flex justify-center">
                <v-textarea
                  name="description"
                  type="text"
                  label="Descição da tarefa"
                  v-model="task.description"
                  rows="1"
                  required
                  :rules="requiredRule"
                ></v-textarea>
              </v-col>
            </v-row>

            <v-row class="mr-8 d-flex justify-end">
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" class="mr-4" @click="save">Salvar</v-btn>
                <v-btn color="error" class="mr-4" type="reset" @click="reset">Limpar</v-btn>
                </v-card-actions>
            </v-row>
          </v-form>
        </v-card>
      </div>
    </v-card-widget>
  </div>
</template>

<script>
import VCardWidget from "@/components/VWidget";
import { mapState } from 'vuex';
// import AppSnackbar from "@/components/core/AppSnackbar";

export default {
  name: "CreateTask",

  components: {
    VCardWidget,
    // AppSnackbar,
  },

  data() {
    return {
      valid: true,
      requiredRule: [(v) => !!v || "Campo obrigatório"],

      menu_deadline: false,
      dateFormatted: this.formatDate(new Date().toISOString().substr(0, 10)),
      nowDate: new Date().toISOString().slice(0,10),

      task: {
        deadline: new Date().toISOString().substr(0, 10),
        responsible: {
          id: -1,
        }
      },

      priority: [],

      sTexto: null,
      sVisibilidade: null,

    };
  },

  computed: {    
    ...mapState(['tasks', 'server']),

    computedDateFormatted() {
      return this.formatDate(this.task.deadline);
    },
  },

  watch: {
    "this.task.deadline"(date) {
      this.dateFormatted = this.formatDate(date);
    },
  },
  
  created() {
    this.priority = this.$store.getters["tasks/GET_PRIORITY"];

    this.$store.dispatch('server/getAll')
  },

  methods: {
    formatDate(date) {
      if (!date) return null;

      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    parseDate(date) {
      if (!date) return null;
      const [month, day, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },

    reset() {
      this.task.responsible = {};
      this.task.priority = {};
    },

    save() {
      if (this.$refs.form.validate()) {
        // this.sTexto = "Validado!";
        // this.sVisibilidade = true;
        this.$store.dispatch('tasks/createTask', this.task);
        this.tasks = this.$store.getters["tasks/GET_TASKS"];
        this.$router.push('/create');
        
      } else {
        // this.sTexto = "Não validado!";
        // this.sVisibilidade = true;
        // this.$store.dispatch("app/putError", "MENSAGEM DE ERRO A SER EXIBIDA!");
      }
    }
  },
};
</script>