<template>
  <div>
    <v-card-widget enableActions :title="'Tarefas'">
      <div slot="widget-header-action"></div>
      <div slot="widget-content">
        <v-row>
          <v-col cols="12">
            <v-data-table
              :headers="header"
              :items="tasks.tasks"
              :items-per-page="10"
              class="elevation-1"
              :footer-props="footerProps"
            >
              <!-- :items="tasks" -->
              <template v-slot:top>
                <v-toolbar flat color="white">
                  <v-spacer></v-spacer>

                  <v-dialog v-model="dialog" max-width="800px">
                    <v-card>
                      <v-card-title>
                        <span class="headline">Editar Tarefa</span>
                      </v-card-title>

                      <v-card-text>
                        <v-container>
                          <v-form ref="form" lazy-validation v-model="valid">
                            <v-row>
                              <v-col cols="12" md="6">
                                <v-text-field
                                  name="name"
                                  type="text"
                                  label="Nome"
                                  v-model="task.name"
                                  required
                                  :rules="requiredRule"
                                ></v-text-field>
                              </v-col>
                              <v-col cols="12" md="6">
                                <v-menu
                                  v-model="menu_deadline"
                                  :close-on-content-click="false"
                                  transition="scale-transition"
                                  offset-y
                                  max-width="290px"
                                  min-width="290px"
                                >
                                  <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                      v-model="computedDateFormatted"
                                      label="Data de prazo"
                                      hint="dd/mm/aaaa"
                                      persistent-hint
                                      prepend-icon="mdi-calendar"
                                      readonly
                                      v-bind="attrs"
                                      v-on="on"
                                    ></v-text-field>
                                  </template>
                                  <v-date-picker
                                    v-model="task.deadline"
                                    no-title
                                    :min="nowDate"
                                    @input="menu_deadline = false"
                                    required
                                    :rules="requiredRule"
                                  ></v-date-picker>
                                </v-menu>
                              </v-col>

                              <v-col cols="12" sm="6" md="4">
                                <v-select
                                  :items="server.servers"
                                  item-text="user.name"
                                  item-value="id"
                                  label="Responsável pela tarefa"
                                  v-model="task.responsible"
                                  required
                                  :rules="requiredRule"
                                  return-object
                                ></v-select>
                              </v-col>
                              <v-col cols="12" sm="6" md="4">
                                <v-select
                                  name="priority"
                                  :items="priority"
                                  value="priority"
                                  label="Prioridade da tarefa"
                                  v-model="task.taskPriority"
                                  required
                                  :rules="requiredRule"
                                ></v-select>
                              </v-col>
                              <v-col cols="12" sm="6" md="4">
                                <v-textarea
                                  name="description"
                                  type="text"
                                  label="Descição da tarefa"
                                  v-model="task.description"
                                  rows="1"
                                  required
                                  :rules="requiredRule"
                                ></v-textarea>
                              </v-col>
                            </v-row>

                            <v-row class="mr-8 d-flex justify-end">
                              <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn
                                  color="error"
                                  class="mr-4"
                                  type="reset"
                                  text
                                  @click="close"
                                  >Cancelar</v-btn
                                >
                                <v-btn
                                  color="primary"
                                  class="mr-4"
                                  text
                                  @click="save"
                                  >Salvar</v-btn
                                >
                              </v-card-actions>
                            </v-row>
                          </v-form>
                        </v-container>
                      </v-card-text>

                      <!-- <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" text @click="close"
                          >Cancelar</v-btn
                        >
                        <v-btn
                          color="blue darken-1"
                          text
                          @click="save"
                          v-bind:disabled="!ehValido"
                          >Salvar</v-btn
                        >
                      </v-card-actions> -->
                    </v-card>
                  </v-dialog>
                <!-- </v-toolbar>
              </template>

              <template v-slot:top>
                <v-toolbar flat color="white"> -->
                  <v-spacer></v-spacer>
                  <v-dialog v-model="dialog_deletion" persistent max-width="400">
                    <v-card>
                      <v-card-title>
                        <span class="headline"> Confirmar? </span>
                      </v-card-title>
                      <v-card-text>
                        <v-container>
                          Tem certeza que deseja mesmo remover a tarefa?
                        </v-container>
                      </v-card-text>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="red darken-1" text @click="cancelDeleteTask">
                          Cancelar
                        </v-btn>
                        <v-btn
                          color="green darken-1"
                          text
                          @click="confirmDeleteTask"
                        >
                          Confirmar
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </v-toolbar>
              </template>

              <template v-slot:item.deadline="{ item }">
                {{ formatDate(item.deadline) }}</template
              >

              <template v-slot:item.taskPriority="{ item }">{{
                getPriority(item.taskPriority)
              }}</template>
              <template v-slot:item.taskStatus="{ item }">{{
                getStatus(item.taskStatus)
              }}</template>

              <template v-slot:item.actions="{ item }">
                <v-icon
                  v-if="(item.taskStatus != 'ANDAMENTO') && (containsPapel('ADMINISTRADOR'))"
                  small
                  class="mr-2"
                  @click="editTask(item)"
                  >mdi-pencil</v-icon
                >
                <v-icon
                  v-if="(item.taskStatus == 'ABERTA') && (containsPapel('ADMINISTRADOR'))"
                  small
                  @click="deleteTask(item)"
                  >mdi-delete</v-icon
                >
                <v-icon
                  v-if="(item.taskStatus == 'ABERTA') && (containsPapel('SERVIDOR'))"
                  small
                  title="Definir como Em andamento"
                  @click="progress(item)"
                  >mdi-progress-clock</v-icon
                >
                <v-icon
                  v-if="(item.taskStatus != 'FINALIZADA') && (containsPapel('SERVIDOR'))"
                  small
                  title="Definir como Finalizada"
                  @click="finished(item)"
                  >mdi-checkbox-marked-outline</v-icon
                >
              </template>
            </v-data-table>
          </v-col>
        </v-row>
      </div>
    </v-card-widget>
  </div>
</template>

<script>
import VCardWidget from "@/components/VWidget";
import { mapState } from "vuex";

export default {
  name: "ListTasks",

  components: {
    VCardWidget,
  },

  data() {
    return {
      dialog: false,
      dialog_deletion: false,
      id: -1,

      header: [
        { text: "Nome", align: "start", value: "name" },
        { text: "Descrição", value: "description" },
        { text: "Prazo", value: "deadline" },
        { text: "Prioridade", value: "taskPriority" },
        { text: "Responsável", value: "responsible.user.name" },
        { text: "Status", value: "taskStatus" },
        { text: "Opções", value: "actions", sortable: false },
      ],

      footerProps: { "items-per-page-options": [5, 10, 15, 20, 30, 50] },

      priority: [],

      status: [],

      task: [],

      default_task: {},

      task_id: -1,

      valid: true,
      requiredRule: [(v) => !!v || "Campo obrigatório"],

      menu_deadline: false,
      dateFormatted: this.formatDate(new Date().toISOString().substr(0, 10)),
      nowDate: new Date().toISOString().slice(0, 10),
    };
  },

  computed: {
    ...mapState(["tasks", "server", "user"]),

    computedDateFormatted() {
      return this.formatDate(this.task.deadline);
    },
  },

  watch: {
    "this.tasks.deadline": function () {
      return this.formatDate(this.tasks.deadline);
    },
  },

  created() {
    this.priority = this.$store.getters["tasks/GET_PRIORITY"];

    this.status = this.$store.getters["tasks/GET_STATUS"];

    this.task = this.$store.getters["tasks/GET_DEFAULT_TASK"];

    this.default_task = this.$store.getters["tasks/GET_DEFAULT_TASK"];

    this.$store.dispatch("tasks/getAll");

    this.$store.dispatch("server/getAll");

    this.$store.dispatch("user/getPapeis");
  },

  methods: {
    getStatus(status) {
      var s = this.status.filter((obj) => {
        return obj.value === status;
      });
      return s[0].text;
    },
    getPriority(priority) {
      var p = this.priority.filter((obj) => {
        return obj.value === priority;
      });
      return p[0].text;
    },

    formatDate(date) {
      if (!date) return null;

      const [year, month, day] = date.substring(0, 10).split("-");
      return `${day}/${month}/${year}`;
    },
    parseDate(date) {
      if (!date) return null;
      const [month, day, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },

    containsPapel(papel) {
      return this.user.papeis.includes(papel);
    },

    editTask(item) {
      this.task = Object.assign({}, item);
      this.dialog = true;
    },
    deleteTask(item) {
      this.task_id = item.id;
      this.task = Object.assign({}, item);
      this.dialog_deletion = true;
    },

    cancelDeleteTask() {
      this.dialog_deletion = false;
      this.$nextTick(() => {
        this.task = Object.assign({}, this.default_task);
        this.task_id = -1;
      });
    },

    confirmDeleteTask() {
      if (this.task_id > 0) {
        this.$store.dispatch("tasks/delete", this.task.id);
        this.task_id = -1;
        this.cancelDeleteTask();
        this.$router.push("/list")
      }
      this.cancelDeleteTask();
    },

    close() {
      this.task.responsible = { val: "" };
      this.task.priority = { val: "" };
      this.dialog = false;
      this.$nextTick(() => {
        this.task = Object.assign({}, this.default_task);
      });
    },
    save() {
      if (this.$refs.form.validate()) {
        // Salvar
        this.$store.dispatch("tasks/update", this.task);
        this.tasks = this.$store.getters["tasks/GET_TASKS"];

        this.$router.push('/list');

        this.close();
      }
    },
    
    progress(item) {
      this.$store.dispatch("tasks/progress", item.id);
      this.$router.push("/list")
    },

    finished(item) {
      this.$store.dispatch("tasks/finished", item.id);
      this.$router.push("/list")
    },
  },
};
</script>