<template>
  <v-app>
    <template v-if="!$route.meta.public">
      <!-- Barra de menu -->
      <v-app-bar color="indigo" dark fixed>
        <v-app-bar app color="primary" dark>
          <div class="d-flex align-center">
            <v-img
              alt="Gerenciador de tarefas"
              class="shrink mr-2"
              contain
              src="./assets/logo.png"
              transition="scale-transition"
              width="40"
            />
          </div>

          <v-toolbar-items class="ml-3">
          <v-btn to="/" text>Início</v-btn>
          <v-btn to="/create" text>Criar</v-btn>
          <v-btn to="/list" text>Listar tarefas</v-btn>
          <v-btn to="/about" text>Sobre</v-btn>
        </v-toolbar-items>

        <v-spacer></v-spacer>

        <span>Olá, {{ nome }}</span>
        <v-btn @click="logout" text>
          <!-- <v-icon>power_settings_new</v-icon> -->
          <v-icon>mdi-power</v-icon>
        </v-btn>
        </v-app-bar>
      </v-app-bar>

      <!-- Indexação do conteúdo -->
      <v-main class="content">
        <v-container fluid class="page-wrapper">
          <router-view></router-view>
        </v-container>
      </v-main>

      <!-- Rodapé -->
      <v-footer height="auto" class="white pa-3 app--footer" app>
        <span class="caption"
          >Desafio DevOps - Insight Lab - Autor: Wesley Pedro &copy;
          {{ new Date().getFullYear() }}</span
        >
      </v-footer>
    </template>

    <!-- Conteúdo público para pessoas que não estão logadas -->
    <template v-else>
      <transition>
        <keep-alive>
          <router-view :key="$route.fullpath"></router-view>
        </keep-alive>
      </transition>
    </template>
  </v-app>
</template>


<script>
export default {
  name: "App",

  data: () => ({
  // data() {
    // return {
      nome: "",
    // };
  // },
  }),

  created() {
    this.nome = localStorage.getItem("nome");
  },

  methods: {
    logout() {
      this.$router.push("/logout");
    },
  },
};
</script>

<style scoped>
.page-wrapper {
  min-height: calc(100vh - 64px - 50px - 81px);
}

.content {
  background-color: #cbcedd;
}
</style>