<template>
  <v-main>
    <v-row class="text-center">
      <v-col class="mb-5" cols="12">
        <h1 class="display-2 font-weight-bold mb-3">
          Sobre o projeto
        </h1>

        <p class="subheading font-weight-regular">
          Pequeno CRUD desenvolvido como parte do desafio <br> 
          proposto pelo 
            <a href="https://insightlab.ufc.br/" target="_blank">Insight Lab</a> 
                                para a seleção de bolsista <br> 
          desenvolvedor DevOps.
        </p>
        <p class="subheading font-weight-regular">
          O desafio proposto e aqui desenvolvido consiste em <br> 
          criar um pequeno sistema para o gerenciamento de tarefas, <br> 
          contando com opções de CRUD básicas para tal.
        </p>
        <p class="subheading font-weight-regular">
          O desafio apresentado foi desenvolvido por <span>Wesley Pedro</span>, <br> 
          fazendo uso de algumas tecnologias bem recentes no mercado, <br> 
          com é o caso do <i>Spring Boot</i> e <i>Vue.js</i>, por exemplo.
        </p>

      </v-col>

      <v-col class="mb-5" cols="12">
        <h1 class="display-2 font-weight-bold mb-3">
          Sobre o desenvolvedor
        </h1>
        
          <v-img
            src="https://github.com/wesleypedro.png"
            class="my-3"
            contain
            height="200"
          />
        
        <p class="subheading font-weight-regular">
          Olá, meu nome é Wesley, sou acadêmico de Ciência da Computação <br> 
          pela Universidade Federal do Ceará, Campus Quixadá, e estou <br> 
          atualmente cursando o 8º semestre.
        </p>

        <p class="subheading font-weight-regular">
          Estou descobrindo aos poucos uma parte do que a tecnologia tem a <br> 
          proporcionar a todos e vou seguindo o racioncínio de que é sempre <br> 
          possível aprender e desenvolver coisas novas, com o objetivo de tornar <br> 
          a sociedade um lugar melhor para interagir e viver.
        </p>
        
        <p class="subheading font-weight-regular">
          Meus perfis no <a href="https://github.com/wesleypedro/" target="_blank">Github</a>
          e <a href="https://www.linkedin.com/in/owesleypedro/" target="_blank">LinkedIn</a>.<br>
          
          Este projeto encontra-se hospedado no GitLab, acessível pelo seguinte 
            <a href="https://gitlab.com/wesleypedro/desafio-insight/" target="_blank">link</a>.
        </p>
      </v-col>
    </v-row>
  </v-main>
</template>

<script>
export default {
  name: '',
}
</script>