<template>
  <v-container>
    <v-row class="text-center">
      <v-col cols="12">
        <v-img
          :src="require('../assets/logo.svg')"
          class="my-3"
          contain
          height="200"
        />
      </v-col>

      <v-col class="mb-4">
        <h1 class="display-2 font-weight-bold mb-3">
          Bem-vindo ao nosso <br> Gerenciador de Tarefas
        </h1>

        <p class="subheading font-weight-regular">
          Pequeno projeto desenvolvido para a resolução <br>
          do desafio proposto pelo Insight Lab como parte da <br>
          seleção de bolsista desenvolvedor DevOps.
        </p>
      </v-col>

      <v-col
        class="mb-5"
        cols="12"
      >
        <h2 class="headline font-weight-bold mb-3">
          Funcionalidades do sistema
        </h2>

        <v-row justify="center">
          <a
            v-for="(eco, i) in ecosystem"
            :key="i"
            :href="eco.href"
            class="subheading mx-3"
            target="_blank"
          >
            {{ eco.text }}
          </a>
        </v-row>
      </v-col>

      <v-col
        class="mb-5"
        cols="12"
      >
        <h2 class="headline font-weight-bold mb-3">
          Links para o repositório do <br> projeto e apresentação pessoal
        </h2>

        <v-row justify="center">
          <a
            v-for="(link, i) in importantLinks"
            :key="i"
            :href="link.href"
            class="subheading mx-3"
            target="_blank"
          >
            {{ link.text }}
          </a>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  export default {
    name: 'Home',

    data: () => ({
      ecosystem: [
        {
          text: 'Crie tarefas',
          href: 'create',
        },
        {
          text: 'Faça o acompanhamento',
          href: '/list',
        },
        {
          text: 'Sobre o projeto',
          href: '/about',
        },
      ],
      importantLinks: [
        {
          text: 'GitHub',
          href: 'https://github.com/wesleypedro/',
        },
        {
          text: 'GitLab',
          href: 'https://gitlab.com/wesleypedro/desafio-insight/',
        },
        {
          text: 'LinkedIn',
          href: 'https://www.linkedin.com/in/owesleypedro/',
        },
      ],
    }),
  }
</script>
